.main {
  text-align: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 5px;
  background: linear-gradient(to top,
  white 0%, white 50%, rgb(83, 145, 226) 50%, rgb(3, 3, 201) 100%);
  border: 1px solid red;
  
}

.topcnt{
  color: white;
  font-size: 40px;
  font-weight: 600;
  justify-content: center;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 33%;
  box-shadow: 1px 1px 4px 0px rgb(122, 121, 121);
  padding-top: 20px;
  margin-bottom: 50px;
  margin-top: 70px;
  margin-left: 500px;
  border-radius: 40px; 
  background-color: white;
}
.imgs {
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
  }
.container-image {
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 200px;
  width: 200px;
  border-radius: 130px;
} 

input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 0px rgb(201, 199, 199);
    border: none;
    outline: none;
    background-color: #fff;
}

.email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.name{
    padding-left: 70px;
    font-size: 20px;
}
.second-input{
    padding-top: 20px;
}

button{
    width: 380px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(25, 163, 197);
    color: white;
    font-size: 20px;
    border: none;
}
.login-button{
    padding-top: 10px;
}

.link{
    font-size: 20px;
    font-weight: 600;
    margin-left: 200px;
}
 a{
     color: rgb(31, 30, 30);
 }
 .blue{
   color: skyblue;
  
 }
 
 .list{
   display: flex;
   justify-content: center;
   padding-top: 20px;
   color: white;
   gap: 20px;
 }

 .signin{
  color: blue;
 }